# Read JSON

In [ ]:
%%writefile readjson.py

import json
import pandas as pd

def readJSON(filename):
    data = pd.read_json(filename, orient='records')
    return data

## Test

In [ ]:
import importlib 
importlib.reload(readjson)

In [ ]:
import readjson
from readjson import readJSON

In [ ]:
filename = '/Users/tdi/Documents/Holodeck/Holodeck/Data/apitest.json'

In [ ]:
data = readJSON(filename)

In [142]:
data.head()

,vat,name,address,zipcode,city,cityname,protected,phone,email,fax,...,industrydesc,companycode,companydesc,creditstartdate,creditbankrupt,creditstatus,owners,productionunits,t,version
0,35358323,Cphbusiness Studenterforening,"Nansensgade 19, st",1366,København K,NaN,True,36154500,students@cphbusiness.dk,NaN,...,Andre organisationer og foreninger i.a.n.,115,Frivillig forening,NaN,False,NaN,NaN,"[{'pno': 1018893831, 'main': False, 'name': 'C...",100,6